:root {
     --primary-color: #4a154b;
     --secondary-color: #2B092B;
     --tertiary-color: #464145;
     --quaternary-color: #ffffff;
     --quinary-color: #b3b3b3;
     --senary-color: #F2F2F2;
     --septenary-color: #000000;
     --octonary-color: #ffffff68;
     --nonary-color: #ffffff;
     --denary-color: #4a154b;
     font-size: 16px;
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     position: fixed;
     width: 100%;
     height: 100%;
}

nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     min-height: 3rem;
     /* position: fixed; */
     width: 100%;
     background-color: var(--secondary-color);
     color: var(--nonary-color);
     font-family: 'Poppins', sans-serif;
     border-bottom: 1px solid --tertiary-color;
}

.container {
     display: flex;
     /* justify-content: space-between; */
     width: 100%;
     /* height: 100%; */
}

.container .menu {
     display: flex;
     flex-basis: 100%;
     /* flex: 1; */
     justify-content: center;
}

.container .menu ul {
     display: flex;
     flex-direction: row;
     align-items: center;
     list-style: none;
}

.container .menu ul li {
     margin: 0;
     padding: 0 10px;
}

.container .logo img {
     width: 30px;
     height: 30px;
     margin-left: 20px;
     border-radius: 8px;
     margin-right: 1em;
}

.fa-arrow-right {
     opacity: 0.5;
}

.container .search {
     display: flex;
     width: 20rem;
     height: 1.8em;
     border-radius: 6px;
     background: var(--octonary-color);
     background-image: url("../images/search.png");
     background-size: 17px;
     background-repeat: no-repeat;
     background-position: 22% center;
     box-shadow: none;
}

.container .search[type="text"]::placeholder {
     text-align: center;
     color: var(--senary-color);
}



.sidebar {
     display: flex;
     /* width: 28rem; */
     /* max-width: 22rem; */
     /* min-width: 22rem; */
     /* margin-top: 3rem; */
     height: 100vh;
     /* position: fixed; */

     /* flex-grow: 1; */

     /* position: block; */
     /* height: 100%; */
     /* flex: 1; */
     background-color: var(--primary-color);
     /* height: calc(100vh - 8vh); */
}


.sidebar .group {
     display: flex;
     flex-direction: column;
     width: 4rem;
     border-right: 1px solid var(--tertiary-color);
     margin-top: 0.5rem;
}

.sidebar .group .groups {
     margin: 0.5em auto;
     width: 100%;
     cursor: pointer;
}

.sidebar .group .groups img {
     width: 2.5em;
     height: 2.5em;
     padding: 2px;
     margin-inline: auto;
     border-radius: 8px;
     display: flex;
     justify-content: center;
     /* outline: oldlace solid 3px; */
}

.sidebar .group .active img {
     outline: var(--quaternary-color) solid 3px;
}

.sidebar .add-group {
     color: var(--quaternary-color);
     font-size: 1.3em;
     margin: 0.8em auto;
     cursor: pointer;
}

.sidebar .group-detail {
     display: flex;
     flex-direction: column;
     width: 100%;
     /* min-width: 16rem; */
     /* height: 100%; */
     overflow-y: scroll;
     top: 0;
     bottom: 0;
     color: var(--quaternary-color);
     padding-bottom: 5rem;
}

.sidebar .group-detail .group-name {
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin: 0.5em 0;
     width: 100%;
     height: 3em;
     cursor: pointer;
     padding-inline: 1em;
     border-bottom: 1px solid var(--tertiary-color);
     /* position: fixed; */
     gap: 10px;
}

.sidebar .group-detail .group-name .group-expand {
     display: flex;
     justify-content: space-around;
     align-items: center;
     /* padding: 10px; */
}

.sidebar .group-detail .group-name .group-expand h3 {
     font-size: 1.2em;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sidebar .group-detail .group-name .group-expand .fa-chevron-down {
     font-size: 10px;
     padding-left: 10px;
}

.sidebar .group-detail .group-name .group-edit {
     width: 2.5rem;
     height: 2.5rem;
     background: var(--quaternary-color);
     border-radius: 50%;
     /* margin: 5px; */
     display: flex;
     align-items: center;
     justify-content: center;
}

.sidebar .group-detail .group-name .group-edit .fa-pen-to-square {
     color: var(--primary-color);
}

/* group detail css */
.sidebar .group-detail .expand-detail ul {
     display: flex;
     flex-direction: column;
     list-style: none;
     font-size: 15px;
     padding-inline: 8px;
     /* justify-content: center; */
     gap: 0.6em;
     /* margin: 0.5em 0; */
}

.sidebar .group-detail .expand-detail ul a {
     text-decoration: none;
     color: var(--quinary-color);
     display: block;
}

.sidebar .group-detail .expand-detail ul li {
     color: var(--quinary-color);
     width: 100%;
     cursor: pointer;
     /* padding: 0.3em 0em; */
}

.sidebar .group-detail .expand-detail ul .channel-sub-chats {
     color: var(--quinary-color);
     width: 100%;
     cursor: pointer;
     padding: 0.15em 1em;
}

.sidebar .group-detail .expand-detail ul .channel-chats:hover {
     background-color: #489acc;
     color: var(--nonary-color);
}

.sidebar .group-detail .expand-detail ul .channel-sub-chats:hover {
     background-color: #489acc;
     color: var(--nonary-color);
}

.expand-detail .star-friend {
     display: flex;
     width: 100%;
     color: var(--quaternary-color);
     align-items: center;
}

.expand-detail .star-friend img {
     border-radius: 4px;
     margin-right: 5px;
}

.expand-detail .star-friend .online {
     position: relative;
     width: 25px;
     height: 25px;
}

.expand-detail li .active {
     color: var(--quaternary-color);
}

.expand-detail .star-friend .online .fa-circle {
     position: absolute;
     bottom: 0;
     color: #007a5a;
     font-size: 8px;
     right: 0;
}

.main {
     /* margin-top: 3rem; */
     /* margin-left: 22rem; */
     display: flex;
     flex-direction: column;
     width: calc(100% - 22rem);
     /* max-width: 100%; */
     /* position: fixed; */
     /* width: calc(100% - 22rem); */
     /* width: 100%; */
     /* position: stick; */
     /* height: 100%; */
     /* color: #ffffff;
     background: #000; */
     /* overflow-y: scroll; */
     /* top: 0;
     bottom: 0; */
}

/* display: flex;
 flex-direction: column;
 width: 100%;
 overflow-y: scroll;
 top: 0;
 bottom: 0;
 color: var(--quaternary-color); */

.chats-head {
     display: flex;
     flex-direction: column;
     width: 100%;
     border-bottom: 0.5px solid var(--quinary-color);
}

.main .chat-header {
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 100%;
     height: 3.5rem;
     /* padding: 0 1em; */
     border-bottom: 0.5px solid var(--quinary-color);
}

.main .chat-header .chat-name {
     display: flex;
     align-items: center;
     width: 100%;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     /* padding: 0 1em; */
     /* font-weight: 900; */
     /* font-size: 1rem; */
}

.main .chat-header .chat-name h3 {
     font-family: sans-serif;
     text-align: center;
     font-size: 1rem;
     font-weight: bold;
     padding: 0 1em;
     /* width: 200px; */
}

.main .chat-header .chat-name .fa-chevron-down {
     font-size: 10px;
     /* padding-left: 10px; */
}

.main .chat-header .chat-name .chat-name-detail {
     padding: 0 1em;
     font-family: sans-serif;
     /* text-align: center; */
     font-size: 0.8rem;
     font-weight: bold;
     /* width: 400px; */
     color: var(--tertiary-color);
}

.main .chat-header .members {
     display: flex;
     align-items: center;
     border-radius: 8px;
     padding: 3px;
     border: 0.5px solid var(--quinary-color);

}

.main .chat-header .members p {
     padding: 0 1em;
     font-family: sans-serif;
     text-align: center;
     font-size: 0.8rem;
     font-weight: bold;
     /* width: 100px; */
     color: var(--tertiary-color);
}

.main .chat-header .members img {
     width: 2rem;
     /* height: 2rem; */
     border-radius: 20%;
     z-index: 1;
     /* margin-top: 20rem; */
     /* position: absolute; */
     /* margin-right: 15px; */
     /* margin: 0 0.5em; */
}

.main .chat-header .members span {
     width: 2em;
     height: 2em;
     display: flex;
     justify-content: center;
     align-items: center;
     /* position: fixed; */
     font-weight: 600;
     color: var(--tertiary-color);
}



::-webkit-scrollbar {
     width: 8px;
}

.group-detail::-webkit-scrollbar-track {
     background-color: var(--secondary-color);
     /* Track color */
}

.chats-list {
     box-shadow: 0px 10px 5px -10px #464145;
}

.chats-list ul {
     display: flex;
     /* justify-content: space-around; */
     list-style: none;
}

.chats-list ul li {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0.5em 1em;
     color: var(--tertiary-color);
}

.fa-forward {
     transform: rotate(-60deg);
}

/* chat section */
.chats {
     display: flex;
     flex-direction: column;
     /* flex: 3; */
     width: 100%;
     height: 100vh;
     justify-content: space-between;
     /* flex-grow: 1; */
     /* overflow-y: scroll;
     top: 0;
     bottom: 0; */
     /* flex: 1; */
     /* color: var(--quaternary-color); */
}

.messages {
     width: 100%;
     color: #0d0c0c;
     height: 90%;
     /* flex: 3; */
     overflow-y: scroll;
     top: 0;
     bottom: 0;
     flex-grow: 1;
}

.messages ul {
     display: flex;
     flex-direction: column;
     list-style: none;
}

.messages ul li {
     display: flex;
     margin: 10px 20px;
     gap: 10px;
}

.messages ul li img {
     width: 40px;
     height: 40px;
     border-radius: 8px;
}

.messages ul li h4 {
     font-size: 1rem;
     font-weight: bold;
     color: var(--septenary-color);

}

.messages ul li span {
     font-size: 0.75rem;
     font-weight: 500;
     color: var(--tertiary-color);

}

.user__message ul {
     display: flex;
     flex-direction: row;
     list-style: none;
}

.user__message ul li {
     margin: 5px;
     padding: 5px 12px;
     border-radius: 16px;
     background: #fcf2fa;
}

.user__message ul li img {
     width: 15px;
     height: 15px;
     border-radius: 8px;
}

.input_message {
     width: 100%;
     /* background-color: #007a5a; */
     color: #ffffff;
     min-height: 230px;
     /* min-height: 20vh; */
     /* text-align: center; */
     /* font-size: 2rem; */
     /* flex: 1; */
     padding: 0px 20px;
     /* margin-bottom: 15px; */
     bottom: 0;
     /* position: fixed; */
}

.input_message .input_field {
     display: flex;
     flex-direction: column;
     width: 100%;
     /* height: 100%; */
     border-radius: 8px;
     border: 2px solid var(--quinary-color);
     height: 80px;
     flex-grow: 1;
}

.input_message input {
     width: 100%;
     height: 40px;
     font-size: large;
     border: none;
     margin: 0;
     outline: none;
     /* height: 80%; */
}

.search[type="text"]::placeholder {
     text-align: center;
     color: var(--senary-color);
}

.input_field .msg_option {
     display: flex;
     justify-content: space-between;
     background: #fcf3fb;
     /* align-items: center; */
     border-radius: 0 0 8px 8px;
     width: 100%;
     /* height: 100%; */
     /* overflow: hidden; */
     padding: 9px 10px;
     font-size: 1.1rem;
     color: var(--tertiary-color);
     border-top: 1px solid var(--quinary-color);
}

.input_field .msg_option .left {
     display: flex;
     align-items: center;
     gap: 25px;
}

.input_field .msg_option .right {
     display: flex;
     align-items: center;
     gap: 25px;
}

.input_msg[type="text"]::placeholder {
     text-align: center;
     color: var(--quinary-color);
}

.container .menu .sm {
     display: none;
}

li {
     cursor: pointer;
}

.small_sidebar {
     display: none;
}

@media (max-width: 768px) {
     /* */

     .main {
          width: 100%;
     }

     .sidebar {
          min-width: 16rem;
     }

     nav {
          justify-content: space-evenly;
     }

     .sidebar .group-detail .group-name {
          margin: 5px 0;
          padding-inline: 10px;
     }

     .sidebar .group-detail .group-name .group-expand h3 {
          font-size: 1rem;
          /* background: #000; */
     }

     .sidebar .group-detail .group-name .group-edit {
          width: 2rem;
          height: 1.8rem;
     }

     #search {
          width: 10rem;
          background-position: 90% center;
     }

     #search::-webkit-input-placeholder {
          /* WebKit browsers */
          color: transparent;
     }

     #search:-moz-placeholder {
          /* Mozilla Firefox 4 to 18 */
          color: transparent;
     }

     #search::-moz-placeholder {
          /* Mozilla Firefox 19+ */
          color: transparent;
     }

     #search:-ms-input-placeholder {
          /* Internet Explorer 10+ */
          color: transparent;
     }

     .input_message {
          margin: 15px 0;
          /* height: 10%; */
          min-height: 100px;
          width: 100%;
          /* padding-top: 30px; */
     }


     .input_message .msg_option {
          display: none;
     }

     .input_message .input_field {
          height: 40px;
     }

     .input_message input {
          height: 30px;
          width: 100%;
          outline: none;
          padding: 0;
     }

     .chats-head {
          display: none;
     }

     .input_msg[type="text"]::placeholder {
          text-align: left;
          /* padding-left: 30px; */
     }
}

@media (max-width: 545px) {
     .small_sidebar {

          visibility: hidden;
          position: absolute;
     }

     .sidebar--visible {
          display: flex;
          position: absolute;
          top: 0;
          width: 100%;
          visibility: visible;

     }

     nav {
          background-color: var(--nonary-color);
          color: var(--septenary-color);
     }

     .container .menu {
          justify-content: space-between;
     }

     .container .menu .lg {
          display: none;
     }

     .container .logo .lg {
          display: none;
     }

     .container .lg_sidebar {
          display: none;
     }

     .container .menu .sm {
          display: flex;
          justify-content: space-between;
     }

     .small_sidebar .group-detail .group-name {
          min-height: 3rem;
          display: flex;
     }

     .small_sidebar .group-detail .group-name .group-expand img {
          width: 25px;
          height: 25px;
          justify-content: space-around;
          align-items: center;
          border-radius: 7px;
          margin-right: 1rem;
     }

     .small_sidebar .group-detail .group-name .searchIcon {
          margin-right: 1rem;
     }

     /* .sidebar  .group-detail .expand-detail {
          background-color: #fff;
     }

     .small_sidebar .group-detail .expand-detail ul a{
          color: #000;
     } 
     
     kal nav bar alag rakhege or aside ko niche rakhe ge,nav ba ko bhi toggle ke sath change kre ge
     */
}