:root {
     --primary-color: #4a154b;
     --secondary-color: #2B092B;
     --tertiary-color: #464145;
     --quaternary-color: #ffffff;
     --quinary-color: #b3b3b3;
     --senary-color: #F2F2F2;
     --septenary-color: #000000;
     --octonary-color: #ffffff68;
     --nonary-color: #ffffff;
     --denary-color: #4a154b;
     font-size: 16px;
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     position: fixed;
     width: 100%;
     height: 100%;
}

nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     min-height: 3rem;
     /* position: fixed; */
     width: 100%;
     background-color: var(--secondary-color);
     color: var(--nonary-color);
     font-family: 'Poppins', sans-serif;
     border-bottom: 1px solid --tertiary-color;
}

.container {
     display: flex;
     flex-basis: 100%;
     /* justify-content: space-between; */
     width: 100%;
     height: 100%;
}

.container .menu {
     display: flex;
     flex-basis: 100%;
     /* flex: 1; */
     justify-content: center;
}

.container .menu ul {
     display: flex;
     flex-direction: row;
     align-items: center;
     list-style: none;
}

.container .menu ul li {
     margin: 0;
     padding: 0 10px;
}

.container .logo img {
     width: 30px;
     height: 30px;
     margin-left: 20px;
     border-radius: 8px;
     margin-right: 1em;
}

.fa-arrow-right {
     opacity: 0.5;
}

.container .search {
     display: flex;
     width: 20rem;
     height: 1.8em;
     border-radius: 6px;
     background: var(--octonary-color);
     background-image: url("../images/search.png");
     background-size: 17px;
     background-repeat: no-repeat;
     background-position: 22% center;
     box-shadow: none;
}

.container .search[type="text"]::placeholder {
     text-align: center;
     color: var(--senary-color);
}


.sidebar {
     display: flex;
     width: 28rem;
     /* margin-top: 3rem; */
     /* height: 100dvh; */
     /* position: fixed; */
     /* position: block; */
     /* height: 100%; */
     /* flex: 1; */
     background-color: var(--primary-color);
     /* height: calc(100vh - 8vh); */
}

::-webkit-scrollbar {
     width: 8px;
}

.group-detail::-webkit-scrollbar-track {
     background-color: #91d4c9;
     /* Track color */
}

.sidebar .group {
     display: flex;
     flex-direction: column;
     width: 4rem;
     border-right: 1px solid var(--tertiary-color);
     margin-top: 0.5rem;
}

.sidebar .group .groups {
     margin: 0.5em auto;
     width: 100%;
     cursor: pointer;
}

.sidebar .group .groups img {
     width: 2.5em;
     height: 2.5em;
     padding: 2px;
     margin-inline: auto;
     border-radius: 8px;
     display: flex;
     justify-content: center;
     /* outline: oldlace solid 3px; */
}

.sidebar .group .active img {
     outline: var(--quaternary-color) solid 3px;
}

.sidebar .add-group {
     color: var(--quaternary-color);
     font-size: 1.3em;
     margin: 0.8em auto;
     cursor: pointer;
}

.sidebar .group-detail {
     display: flex;
     flex-direction: column;
     width: 100%;
     /* width: 16rem; */
     /* height: 100%; */
     color: var(--quaternary-color);
}

.sidebar .group-detail .group-name {
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin: 0.5em auto;
     width: 100%;
     height: 3em;
     cursor: pointer;
     padding-inline: 1em;
     border-bottom: 1px solid var(--tertiary-color);
     /* position: fixed; */
}

.sidebar .group-detail .group-name .group-expand {
     display: flex;
     justify-content: space-around;
     align-items: center;
     /* padding: 10px; */
}

.sidebar .group-detail .group-name .group-expand h3 {
     font-size: 1.2em;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sidebar .group-detail .group-name .group-expand .fa-chevron-down {
     font-size: 10px;
     padding-left: 10px;
}

.sidebar .group-detail .group-name .group-edit {
     width: 2.5rem;
     height: 2.5rem;
     background: var(--quaternary-color);
     border-radius: 50%;
     /* margin: 5px; */
     display: flex;
     align-items: center;
     justify-content: center;
}

.sidebar .group-detail .group-name .group-edit .fa-pen-to-square {
     color: var(--primary-color);
}

/* group detail css */
.sidebar .group-detail .expand-detail ul {
     display: flex;
     flex-direction: column;
     list-style: none;
     font-size: 15px;
     /* padding-inline: 1em; */
     /* justify-content: center; */
     /* gap: 0.5em; */
     /* margin: 0.5em 0; */
}

.sidebar .group-detail .expand-detail ul a {
     text-decoration: none;
     color: var(--quinary-color);
     display: block;
}

.sidebar .group-detail .expand-detail ul li {
     color: var(--quinary-color);
     width: 100%;
     cursor: pointer;
     padding: 0.3em 1em;
}

.sidebar .group-detail .expand-detail ul .channel-sub-chats {
     color: var(--quinary-color);
     width: 100%;
     cursor: pointer;
     padding: 0.15em 1em;
}

.sidebar .group-detail .expand-detail ul .channel-chats:hover {
     background-color: #489acc;
     color: var(--nonary-color);
}

.sidebar .group-detail .expand-detail ul .channel-sub-chats:hover {
     background-color: #489acc;
     color: var(--nonary-color);
}

.expand-detail .star-friend {
     display: flex;
     width: 100%;
     color: var(--quaternary-color);
     align-items: center;
}

.expand-detail .star-friend img {
     border-radius: 4px;
     margin-right: 5px;
}

.expand-detail .star-friend .online {
     position: relative;
     width: 25px;
     height: 25px;
}

.expand-detail li .active {
     color: var(--quaternary-color);
}

.expand-detail .star-friend .online .fa-circle {
     position: absolute;
     bottom: 0;
     color: #007a5a;
     font-size: 8px;
     right: 0;
}

.main {
     /* margin-top: 3rem; */
     /* margin-left: 22rem; */
     display: flex;
     flex-direction: column;
     /* position: fixed; */
     /* width: calc(100% - 22rem); */
     width: 100%;
     /* height: 100%; */
     /* color: #ffffff;
     background: #000; */
}

.main .chat-header {
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 100%;
     height: 3.5rem;
     padding: 0 1em;
     border-bottom: 0.5px solid var(--quinary-color);
}

.main .chat-header .chat-name {
     display: flex;
     align-items: center;
     width: 100%;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     padding: 0 1em;
     font-weight: 900;
}

.main .chat-header .chat-name .fa-chevron-down {
     font-size: 10px;
     padding-left: 10px;
}

.main .chat-header .chat-name .chat-name-detail {
     font-size: 0.8em;
     padding: 0 1em;
     font-weight: lighter;
     color: var(--quinary-color);
}

.main .chat-header .members {
     display: flex;
     align-items: center;
     border-radius: 8px;
     padding: 3px;
     border: 0.5px solid var(--quinary-color);
}


.main .chat-header .members img {
     width: 2rem;
     height: 2rem;
     border-radius: 20%;
     z-index: 1;
     /* margin-top: 20rem; */
     /* position: absolute; */
     /* margin-right: 15px; */
     /* margin: 0 0.5em; */
}


.main .chat-header .members span {
     width: 2em;
     height: 2em;
     display: flex;
     justify-content: center;
     align-items: center;
     /* position: fixed; */
     font-weight: 600;
     color: var(--tertiary-color);
}
